# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

.build

.nyc_output

coverage

package-lock.json

out-logger.json

.DS_Store

dist

*.log

.tmp_pdf2svg*

tf-outputs-dev.json
tf-outputs-prod.json

dump/
/.idea/

# yarn 4
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
sbom.json
